<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
<bean id="renderer" class="MessageRenderer">
    <constructor-arg name="meesage" ref="message"/>
</bean>
    <bean id="message" class="ByeMessage">
<constructor-arg name="text" value="Ruslan"/>
</bean>

</beans>